@import "bootstrap";

.navbar {
    font-family: "Helvetica Neue", Helvetica;
    font-weight: 200;
    box-shadow: 0px 1px 3px rgba(2, 66, 66, 0.7);
    background-image: repeating-linear-gradient( to right,  rgba(165, 230, 247, 0), rgb(164, 189, 196));
    
}

.navbar-light .navbar-brand {
    font-family: 'Pacifico', cursive;
    font-weight: 100;
    font-size: 32px;
    color:rgba(5, 183, 183, 0.7);
}

.navbar-light .navbar-brand:hover {
    color: #F593A2;
}

.hero {
    background: image_url('hero.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 370px;
    box-shadow: 0px 6px 8px rgba(2, 66, 66, 0.7);
    }

h1, h2, h3, h4, h5, h6, .navbar {
    margin: 0;
}

.frosty {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    }

.frosty h1 {
    font-family: "Helvetica Neue", Helvetica;
    font-weight: 100;
    text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
  }

.frosty h2 {
    font-family: "Helvetica Neue", Helvetica;
    font-weight: 200;
    text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
  }

.btn {
    border-radius: 0;
    }
.feature {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
   
    } 

body {
    background: image_url('wood.jpg');
    font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
    
}

.course {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 25px;
    color: white;

}
.learn {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 25px;
    color: white;
}
.join {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 25px;
    color: white;
}



